<script setup lang="ts">
import router from '@/router'
import { useAuthStore } from '@/stores/auth'
import { mdiEye, mdiEyeOff, mdiGoogle } from '@mdi/js'
import { type Ref, ref } from 'vue'

const email = ref('')
const password = ref('')
const showPassword = ref(false)
const errorLocal: Ref<{ code: string } | null> = ref(null)

const form: Ref<null | {
  resetValidation: () => void
  reset: () => void
  validate: () => Promise<{ valid: boolean }>
}> = ref(null)

const authStore = useAuthStore()

async function onSubmitGoogle() {
  errorLocal.value = null
  authStore.loginUserGoogle()
}

async function onSubmit() {
  if (await form.value?.validate()) {
    errorLocal.value = null
    authStore.loginUser(email.value, password.value)
  }
}

function gotoPage(url: string) {
  router.push(url)
}
</script>

<template>
  <v-row justify="center">
    <v-card width="500px" class="ma-2 pa-4">
      <p class="pb-1 text-h5">Logowanie</p>

      <v-btn variant="elevated" class="mt-4" color="primary" block @click.prevent="onSubmitGoogle">
        <v-icon start>
          {{ mdiGoogle }}
        </v-icon>

        <span> Logowanie przez Google </span>
      </v-btn>

      <v-row align="center" justify="center" class="py-4">
        <v-col cols="5">
          <v-divider horizontal />
        </v-col>

        <v-col cols="2" class="text-center">
          <span class="text-medium-emphasis">lub</span>
        </v-col>

        <v-col cols="5">
          <v-divider horizontal />
        </v-col>
      </v-row>

      <v-form ref="form" autocomplete="on" @submit.prevent="onSubmit">
        <v-text-field
          id="email"
          v-model="email"
          color="primary"
          variant="outlined"
          label="Email"
          type="email"
          name="email"
          class="mb-2"
          required
        />

        <v-text-field
          id="password"
          v-model="password"
          :append-inner-icon="showPassword ? mdiEye : mdiEyeOff"
          :type="showPassword ? 'text' : 'password'"
          color="primary"
          variant="outlined"
          label="Hasło"
          name="password"
          class="mb-2"
          autocomplete="password"
          required
          @click:append-inner="showPassword = !showPassword"
        />

        <v-btn class="mb-2" block color="primary" type="submit">
          <span>Zaloguj</span>
        </v-btn>
      </v-form>

      <v-btn block variant="outlined" color="primary" @click.prevent="gotoPage('/register')">
        <span> Przejdź do rejestracji </span>
      </v-btn>
    </v-card>
  </v-row>
</template>
