<script setup lang="ts">
import { storeToRefs } from 'pinia'
import {messageStore} from '@/stores/messages'
import {ref} from "vue"
import { VDataTable } from 'vuetify/lib/labs/components.mjs';
import { onMounted } from 'vue';

const storeMessages = messageStore()
storeMessages.getMessages()
const { getMessages, addMessage } = storeMessages
const {message} = storeToRefs(storeMessages)

const name = ref('')
const description = ref('')
const checkDialog = ref(false)

let a: number
let b: number
a = 5
b = 10

a = a * 2 //10
b = b / 2 //5
const header = [
    {title: 'Name', key: 'name'},
    {title: 'Description', key: 'description'},
    {title: 'Date', key: 'date'}
]
const changeDialog = () => {
    checkDialog.value = !checkDialog.value
}
const sendMessage = () => {
    const newMessage = {
        name: name.value,
        description: description.value
    }
    addMessage(newMessage)
}
</script>

<template>
    <h1>Strona</h1>

    <v-data-table :headers="header" :items="message"></v-data-table>

    <v-btn @click="changeDialog">Add</v-btn>
    
    <v-dialog v-model="checkDialog" width="500">
        <v-card>
            <v-form @submit.prevent >
                <v-text-field label="Name" v-model="name"></v-text-field>

                <v-text-field label="Description" v-model="description"></v-text-field>

                <v-btn @click="sendMessage">Dodaj</v-btn>

            </v-form>
        </v-card>
    </v-dialog>
</template>