<script setup lang="ts">
import { type Ref, ref } from 'vue'
import { mdiEye, mdiEyeOff, mdiGoogle } from '@mdi/js'
import { useAuthStore } from '@/stores/auth'
import router from '@/router'

const email: Ref<string> = ref('')
const password: Ref<string> = ref('')
const password2: Ref<string> = ref('')
const showPassword: Ref<boolean> = ref(false)

const form: Ref<null | {
  resetValidation: () => void
  reset: () => void
  validate: () => Promise<{ valid: boolean }>
}> = ref(null)

const authStore = useAuthStore()

async function handleSubmitGoogle(): Promise<void> {
  await authStore.signUpUserGoogle()
}

async function handleSubmit(): Promise<void> {
  if (await form.value?.validate()) await authStore.signUpUser(email.value, password.value)
}

function gotoPage(url: string) {
  router.push(url)
}
</script>

<template>
  <v-row justify="center">
    <v-card width="500px" variant="elevated" class="ma-2 pa-4">
      <v-form ref="form" @submit.prevent="handleSubmit">
        <p class="pb-1 text-h5">Rejestracja</p>

        <v-btn color="primary" class="mt-4" block @click.prevent="handleSubmitGoogle">
          <v-icon start>
            {{ mdiGoogle }}
          </v-icon>

          <span> Rejestracja przez Google </span>
        </v-btn>

        <v-row align="center" justify="center" class="py-4">
          <v-col cols="5">
            <v-divider horizontal />
          </v-col>

          <v-col cols="2" class="text-center">
            <span class="text-medium-emphasis">lub</span>
          </v-col>

          <v-col cols="5">
            <v-divider horizontal />
          </v-col>
        </v-row>

        <v-text-field
          v-model="email"
          color="primary"
          variant="outlined"
          label="Email"
          type="email"
          class="mb-2"
          required
        />

        <v-text-field
          v-model="password"
          :append-inner-icon="showPassword ? mdiEye : mdiEyeOff"
          :type="showPassword ? 'text' : 'password'"
          color="primary"
          variant="outlined"
          label="Hasło"
          class="mb-2"
          required
          @click:append-inner="showPassword = !showPassword"
        />

        <v-text-field
          v-model="password2"
          :append-inner-icon="showPassword ? mdiEye : mdiEyeOff"
          :type="showPassword ? 'text' : 'password'"
          color="primary"
          variant="outlined"
          label="Powtórz hasło"
          class="mb-2"
          required
          @click:append-inner="showPassword = !showPassword"
        />

        <v-btn color="primary" class="mb-2 mt-2" block type="submit">
          <span> Zarejestruj się </span>
        </v-btn>
      </v-form>

      <v-btn
        variant="outlined"
        color="primary"
        class="mt-4"
        block
        @click.prevent="gotoPage('/login')"
      >
        <span> Przejdź do logowania </span>
      </v-btn>
    </v-card>
  </v-row>
</template>
