<script setup lang="ts">
import { ITask } from '@/models/Task'
import { mdiContentSave, mdiPencil, mdiTrashCan } from '@mdi/js'
import { watch } from 'vue'
import { ref, toRefs } from 'vue'

const props = defineProps<{ item: ITask }>()
const emit = defineEmits<{
  (e: 'updateTask', id: string, value: string): void
  (e: 'deleteTask', id: string): void
  (e: 'changeStatusTask', id: string, value: boolean): void
}>()
const { item } = toRefs(props)
const isEdit = ref(false)
const inputValue = ref('')

watch(
  item,
  () => {
    inputValue.value = item?.value?.value || ''
  },
  { immediate: true }
)

const onStartEdit = () => {
  isEdit.value = !isEdit.value
}
const onUpdateTask = () => {
  emit('updateTask', item?.value.id, inputValue.value)
  isEdit.value = !isEdit.value
}

const taskDelete = () => {
  emit('deleteTask', item?.value.id)
}
</script>

<template>
  <v-list-item>
    <template #prepend>
      <v-list-item-action start>
        <v-checkbox-btn v-model="item.status"
          @change="$emit('changeStatusTask', item.id, item.status)"></v-checkbox-btn>
      </v-list-item-action>
    </template>

    <v-text-field v-if="isEdit" v-model="inputValue" hide-details @keyup.enter="onUpdateTask" />

    <p v-else>{{ item?.value?.toLocaleUpperCase() }}</p>

    <template #append>
      <v-list-item-action end>
        <v-btn v-if="isEdit" size="small" icon @click="onUpdateTask">
          <v-icon>
            {{ mdiContentSave }}
          </v-icon>
        </v-btn>

        <v-btn v-else size="small" icon @click="onStartEdit">
          <v-icon>
            {{ mdiPencil }}
          </v-icon>
        </v-btn>

        <v-btn  size="small" icon @click="taskDelete">
          Usuń
        </v-btn>
      </v-list-item-action>
    </template>
  </v-list-item>
</template>
