<script setup lang="ts">
import { computed, ref, onMounted } from 'vue'
import { useTasksStore } from '@/stores/tasks'
import { storeToRefs } from 'pinia'
import { mdiPlus } from '@mdi/js'
import TodoListItem from './TodoListItem.vue'
import { Ref } from 'vue'

const taskStore = useTasksStore()
const { getTasks, onUpdateTask, onChangeStatusTask, onDeleteTask, onCreateTask, onSortTasks } =
  taskStore
const { tasks } = storeToRefs(taskStore)
const taskValue = ref('')

const hideCompleted = ref(false)
const taskInput: Ref<null | { blur: () => void; resetValidation: () => void }> = ref(null)

const completedTasks = computed(() => {
  return hideCompleted.value ? tasks.value.filter((item) => !item.status) : tasks.value
})

const countTasks = computed(() => tasks.value.filter((task) => task.status).length)

onMounted(() => {
  if (!tasks.value.length) {
    getTasks()
  }
})

const createTask = async () => {
  onCreateTask(taskValue.value)
  console.log('task.value', taskValue.value.length)
  await taskInput.value?.blur()
  await taskInput.value?.resetValidation()
}
</script>

<template>
  <v-row justify="center">
    <v-card width="500px" class="ma-2 pa-4">
      <v-row align="center" justify="space-between">
        <h1>Tasks</h1>

        <v-spacer />

        <v-checkbox v-model="hideCompleted" hide-details label="Hide completed" />
      </v-row>

      <v-row align="center">
        <v-text-field
          ref="taskInput"
          v-model="taskValue"
          :rules="[
            (v) => !!v || 'Task is required',
            (v) => (v && v.length >= 3) || 'Min 3 characters'
          ]"
          variant="solo"
          placeholder="Add task..."
          @keyup.enter="createTask"
        />

        <v-btn icon @click="createTask">
          <v-icon>{{ mdiPlus }}</v-icon>
        </v-btn>
      </v-row>

      <br />

      <br />

      <v-list>
        <TodoListItem
          v-for="task in completedTasks"
          :key="task.id"
          :item="task"
          @deleteTask="onDeleteTask"
          @updateTask="onUpdateTask"
          @changeStatusTask="onChangeStatusTask"
        />
      </v-list>

      <v-row dense>
        <v-btn @click="onSortTasks">Sort by name</v-btn>

        <p>{{ countTasks }}</p>
      </v-row>
    </v-card>
  </v-row>
</template>
