<script setup lang="ts">
import { ref } from 'vue'
import { RouterView } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { computed } from 'vue'
import { useAuthStore } from '@/stores/auth'
import { storeToRefs } from 'pinia'

const { t, locale, availableLocales } = useI18n()
const drawer = ref(true)

const changeLocale = (locale) => {
  locale.value = locale
}

const availableLocalesComputed = computed(() => {
  if (!availableLocales || availableLocales?.length === 0) return []
  return availableLocales.map((locale1) => ({
    locale: locale1,
    title: t(locale1)
  }))
})

const authStore = useAuthStore()
const { userAuth } = storeToRefs(authStore)

authStore.currentUser()
</script>

<template>
  <v-app>
    <v-app-bar>
      <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>{{ $t('appTitle') }}</v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer">
      <v-list nav>
        <v-list-item v-if="userAuth" to="/dashboard" :title="$t('dashboard')"></v-list-item>

        <v-list-item v-else to="/" :title="$t('home')"></v-list-item>
        
        <v-list-item v-if="userAuth" to="/messages" :title="$t('messages')"></v-list-item>

        <v-list-item to="/about" :title="$t('about')"></v-list-item>

        <v-list-item v-if="!userAuth" to="/login" :title="$t('login')"></v-list-item>

        <v-list-item v-if="!userAuth" to="/register" :title="$t('register')"></v-list-item>

        <v-list-item v-else :title="$t('logout')" @click="authStore.logoutUser"></v-list-item>

        <v-select
          v-model="locale"
          :items="availableLocalesComputed"
          hide-details
          item-value="locale"
          @change="changeLocale"
        ></v-select>
      </v-list>
    </v-navigation-drawer>

    <v-main style="min-height: 300px">
      <v-container>
        <RouterView />
      </v-container>
    </v-main>
  </v-app>
</template>
